<nav>
    <div class="site-title">
        <a href="/"><h1>Brand name</h1></a>
        <p>A test site</p>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <a href="/books/create">Add new books</a>
        </li>
    </ul>
</nav>