<h1>Items</h1>
<form action="/addItem" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Add</button>
</form>
<ul>
    {{#each items}}
    <li>{{name}}</li>
    {{/each}}
</ul>